html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}
.container{
  width: 960px;
  margin: 0 auto;
}
.parent{
  background-image: url('../photos/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  background-position: center;
}
/*Naviagtion Bar and Text*/
.nav.container{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.nav-section{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem !important;
}
.nav img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
nav ul{
  display: flex;
  flex-direction: row;
}
nav li{
  padding-left: 2rem;
  padding-right: 2rem;
}
nav{
  display: flex;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: white;
}
/*Responsive Heading Phone*/
.mobile-nav{
  display: none;
}
@media only screen and (max-width: 560px){
  .mobile-nav{
    display: block;
    
  }
  .reg-nav{
    display: none;
  }
  .nav-section span{
    display: none;
  }
}

/*Banner Text*/
.banner-text{
  color: black;
  border: 1px solid white;
  width: 25rem;
  margin-top: 10rem;
  text-align: center;
  background-color: white;
  padding: 2.5rem 4rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  float: right;
  margin-right: 2rem !important;
}
/*Photo Section*/
.photo-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column{
  display: flex;
  flex-direction: column;
  color: black;
  width: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.column span{
  padding-top: 1rem;
  text-align: center;
}
/*Info Section*/
.info-row{
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
}
.info-column{
  padding-top: 3rem;
}
.info-column h2{
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.info-column p{
  color: black;
  padding-top: 1rem;
  width: 60%;
}
/*Footer*/
.footy{
  background-color: azure;
  color: black;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}
.logo-black img{
  height: 1.5rem;
  padding-right: 1rem;
}
